.project-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-item.show {
    opacity: 1;
    transform: translateY(0);
}

.window-scroll {
    scroll-behavior: smooth;
}
